

<div class="owl-carousel owl-theme card-deck">
 <% @shops.each do |shop| %>
  <div class="item card">
    <div class="card-body">
      <h5><%= shop.name %></h5>
      <p class="card-description"><%= shop.description %></p>
      <p class="card-address"><%= shop.address %></p>
      <div class="tags-group">
        <% shop.tags.each do |tag| %>
            <span class="badge badge-info" > <%= tag.name %> </span>
        <% end %>  
      </div>

    </div>
     <% if current_user.role == 'admin' %>
      <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Latitud: </strong><%= shop.latitude%></li>
          <li class="list-group-item"><strong>Longitud: </strong><%= shop.longitude%></li>
        </ul>
    <% end %>
     <% if current_user.role == 'admin' %>
    <div class="card-footer">
          <span><%= link_to 'Show', shop %></span> |
          <span><%= link_to 'Edit', edit_shop_path(shop) %></span>        
    </div>
     <% end %>
  </div>
  <% end %>
</div>
