<%= form_with(model: shop, local: true) do |form| %>
  <% if shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

     
      <% shop.errors.full_messages.each do |message| %>
        <div class="alert alert-error"><%= message %></div>
      <% end %>
    
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:'form-control' %>
  </div>
  
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class:'form-control' %>
  </div>
  <% if current_user.role == "admin" %>
    <div class="form-group">
      <%= form.label :state %>
      <%= form.select :state, options_for_select([["Draft", :draft],["Publicado",:published],["Escondido",:hidden]], params[:state] ) , class:'form-control' %>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address , class:'form-control'%>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-primary'%>
  </div>
<% end %>
