<div id="sidepanel">
    <img src="<%= asset_path('logo-1.png') %>" alt="logo">
    <button id="esconder">Esconder</button>
    <div class="panel-section">
        <form action="<%= shops_path %>" method="get" class="form-inline my-3">
        <div class="form-group">
            <label for="q">Busqueda </label>
            <input type="text" name="q" class="form-control ml-3">
        </div>
        </form>
    </div>
    <div class="panel-section">
        <div class="box">
            <div class="form-wrap">
            <%= form_with(model: @shop , local: true, scope: "shop") do |form| %>

            <div class="form-group">
                <%= form.label :longitude %>
                <%= form.text_field :longitude ,class:'form-control' %>
            </div>

            <div class="form-group">
                <%= form.label :latitude %>
                <%= form.text_field :latitude ,class:'form-control' %>
            </div>

            <div class="form-group">
                <%= form.label :name %>
                <%= form.text_field :name ,class:'form-control' %>
            </div>

            <div class="form-group">
                <%= form.label :photo %>
                <%= form.text_field :photo ,class:'form-control' %>
            </div>

            <div class="form-group">
                <%= form.label :description %>
                <%= form.text_field :description ,class:'form-control' %>
            </div>
            <% if current_user.role == "admin" %>
                <div class="form-group">
                <%= form.label :state %>
                <%= form.select :state, options_for_select([["Draft", :draft],["Publicado",:published],["Escondido",:hidden]], params[:state] ) %>
                </div>
            <% end %>
            
            <div class="form-group">
                <%= form.label :address %>
                <%= form.text_field :address ,class:'form-control' %>
            </div>

            <div class="form-group">
                <%= form.submit 'Nueva tienda' , class:'btn btn-primary' %>
                <%# link_to 'New Shop', new_shop_path %>

            </div>
            <% end %>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi amet, earum atque sunt cum accusantium blanditiis molestias animi dolor perspiciatis ratione est fugiat minus vero beatae hic optio? Ipsum, soluta.
            </div>
            </div>

    </div>
</div>