<div id="sidepanel">
    <div class="sidepanel-header">
        <button id="esconder" class="btn"><i class="fa fa-align-left" aria-hidden="true"></i></button>
        <img src="<%= asset_path('logo-1.png') %>" alt="logo" width="150">
    </div>
    <div class="panel-section">
        <form action="<%= shops_path %>" method="get" class="my-3">
        <div class="form-group">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar"  name="q">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">Buscar</button>
                </div>
            </div>
        </div>
        </form>
    </div>
    <div class="panel-section">
        <div class="box">
            <div class="form-wrap">
            <%= form_with(model: @shop , local: true, scope: "shop") do |form| %>
             <% if current_user.role == 'admin'  %>
                <div class="form-group ">
                    <%= form.label :longitude %>
                    <%= form.text_field :longitude ,class:'form-control' %>
                </div>
                <div class="form-group">
                    <%= form.label :latitude %>
                    <%= form.text_field :latitude ,class:'form-control' %>
                </div>
            <% else %>
                <div class="form-group ">
                    <%= form.hidden_field :longitude  %>
                </div>
                <div class="form-group">
                    <%= form.hidden_field :latitude %>
                </div>
            <% end %>



            <div class="form-group">
                <%= form.label :name, 'Nombre de la tienda' %>
                <%= form.text_field :name ,class:'form-control' %>
            </div>


            <div class="form-group">
                <%= form.label :description, 'Descripción' %>
                <%= form.text_area :description ,class:'form-control' %>
                <small>Agrega #hashtags para mejorar la clasificación de la tienda!</small>
            </div>
            <% if current_user.role == "admin" %>
                <div class="form-group">
                <%= form.label :state %>
                <%= form.select :state, options_for_select([["Draft", :draft],["Publicado",:published],["Escondido",:hidden]], params[:state] ) %>
                </div>
            <% end %>
            
            <div class="form-group">
                <%= form.label :address, 'Dirección' %>
                <%= form.text_field :address ,class:'form-control' %>
            </div>
            
            <%# render 'tags' %>
        
            <div class="form-group">
                <%= form.submit 'Nueva tienda' , class:'btn btn-primary' %>
                <%# link_to 'New Shop', new_shop_path %>
            </div>
            <% end %>
            </div>
            </div>

    </div>
</div>