<%= render 'sidepanel' %>
<div class="page-shop mt-4-rem">

  <% if notice %>
    <div class="alert alert-warning">
      <%= notice %>
    </div>
  <% end %>
  <div style='width: 100wv;'>
    <div id="map" style='width: 100wv; height: calc(100vh - 100px);'  ></div>
  </div>

  <% if current_user.role == 'admin' %>
  <%= render 'all-shops' %>
  <% else %>
  <%= render 'my-shops' %>
  <% end %>
    

  <div id="tiendas">

  </div>


</div>
<script>


$(document).on('turbolinks:load', function () {
var input = document.getElementById('shop_address');
var autocomplete = new google.maps.places.Autocomplete(input);

// Crea el Marcador de la posición actual
function displayOnMap(position){
  var Marker = handler.addMarker({
    lat: position.coords.latitude,
    lng: position.coords.longitude,
    picture: {
        url: "<%= asset_path('icon-mini.png') %>",
        width:  36,
        height: 36
    },
  });
  handler.map.centerOn(Marker);
  console.log('More or less ' + position.coords.accuracy + ' meters.');
  console.log(Marker)
};
    

// Crea el Mapa de google
handler = Gmaps.build('Google');
//currentPosition();
handler.buildMap({
    disableDefaultUI: true,
    provider: {
      center: new google.maps.LatLng({lat: -33, lng: -70}),
      zoom: 15
    },
    internal: {
      id: 'map'
    }
    
},
  function(){
    
    // llama la función que crea la posición actual
    if(navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(displayOnMap)
    }
    // Crea las tiendas guradadas en la base de datos
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    // Al hacer click genera una tienda nueva
    google.maps.event.addListener(handler.getMap(), "click", function(event){  
        var latitude = event.latLng.lat();
        var longitude = event.latLng.lng();      
        console.log(latitude, longitude);
        // Añade las coordenadas al formulario
        $('#shop_longitude').val(longitude);
        $('#shop_latitude').val(latitude);
        var latitudLongitud = {lat: latitude, lng:longitude};
        // llama a la creción del marcador de tienda
        addMarker(event.latLng);
        // Crea la dirección en humano
        var geocoder = new google.maps.Geocoder;
        geocoder.geocode({'location': latitudLongitud}, function(results, status) {
          if (status === 'OK') {
            if (results[0]) {
              $('#shop_address').val(results[0].formatted_address);
              console.log('aqui'+ latitudLongitud.lat + latitudLongitud.lng );
            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
          }
        });
    });
    $('#shop_address').focusout(function(){
      // Crea la direccion en latitud y long
            var geocoder2 = new google.maps.Geocoder();
            var address = document.getElementById('shop_address').value;
            geocoder2.geocode({'address': address}, function(results, status) {
              if (status === 'OK') {
                handler.getMap().setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                  map: handler.getMap(),
                  position: results[0].geometry.location
                });
              } else {
                alert('Geocode was not successful for the following reason: ' + status);
              }
              lat_address = results[0].geometry.location.lat()
              lng_address = results[0].geometry.location.lng()
              $('#shop_longitude').val(lng_address);
              $('#shop_latitude').val(lat_address);
            });


      });
    

  }
);


// Este código permite marcar solo un punto.

var userMarker;
function addMarker(location) {
  if (userMarker) {
    userMarker.setPosition(location);
  } else {
    userMarker = new google.maps.Marker({
      position: location,
      map: handler.getMap()
    });
  }

}


});


  $('[name="q"]').keyup(function (e) { 
    $.ajax({
      type: "get",
      url: "<%= shops_url %>",
      data: {q : $(this).val()},
      dataType: "json",
      success: function (response) {
        
      }
    });
    console.log()
});

</script>