<%= render 'sidepanel' %>
<div class="page-shop mt-4-rem">

  <%# if @shops.error.any? %>
    <div class="alert alert-warning">
      <%= notice %>
    </div>
  <%# end %>
  <div style='width: 100wv;'>
    <div id="map" style='width: 100wv; height: 100vh;'></div>
  </div>

<div class="table-section">
  <div class="container-fluid">

<table class="table-striped table">
  <thead>
    <tr>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Name</th>
      <th>Photo</th>
      <th>Description</th>
      <th>Satate</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.longitude %></td>
        <td><%= shop.latitude %></td>
        <td><%= shop.name %></td>
        <td><%= shop.photo %></td>
        <td><%= shop.description %></td>
        <td><%= shop.state %></td>
        <td><%= shop.address %></td>
        <td><%= link_to 'Show', shop %></td>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><% link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>

  <div id="tiendas">
     
  </div>


</div>
<script>
var userLat;
var userLong;

function currentPosition(position) {
  userLat = position.coords.latitude;
  userLong = position.coords.longitude;
  console.log('More or less ' + position.coords.accuracy + ' meters.');
}

navigator.geolocation.getCurrentPosition(currentPosition);

handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      center: new google.maps.LatLng({lat: 0, lng: 0}),
      zoom: 15
    },
    internal: {
      id: 'map'
    }
},
  function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    google.maps.event.addListener(handler.getMap(), "click", function(event){
      var latitude = event.latLng.lat();
      var longitude = event.latLng.lng();      
      console.log(latitude, longitude);
      $('#shop_longitude').val(longitude);
      $('#shop_latitude').val(latitude);
      addMarker(event.latLng);
      //console.log(event.latLng)
    });

  }
);

var userMarker;
function addMarker(location) {
  if (userMarker) {
    userMarker.setPosition(location);
  } else {
    userMarker = new google.maps.Marker({
      position: location,
      map: handler.getMap()
    });
  }

}





</script>