<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-4">

<div class="card">
<div class="card-body">
<p>
  <strong>Longitude:</strong>
  <%= @shop.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @shop.latitude %>
</p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>


<p>
  <strong>Description:</strong>
  <%= @shop.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @shop.state %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>


</div>

</div>
</div>
</div>




