<section id="main" style="background-image:url(<%= asset_path('bg-1.jpg') %>)">
    <div class="container d-flex align-items-center">
    <div class="box-landing">
        <img src="<%= asset_path('logo-2.png') %>" alt="logo" class="logo-landing">
        <h2>Encuentra las tiendas de alimentos sanos más creca de ti</h2>
        <p class="bajada">Solo te tienes que registrar</p>
        <a href="<%= new_user_registration_path %>" class="btn btn-primary btn-block">Registrarse</a>
        <a href="<%= shops_path %>" class="btn-link btn-block">Ingresar</a>
    </div>
    
    </div>
</section>
<section class="about">
<div class="container">

    <div class="row">
    <div class="col-md-3">
        <img src="<%= asset_path('mapa.png') %>" alt="mapa" class="img-fluid">
    </div>
    <div class="col-md-9">
        <div class="section-title">
        <h2>¿Cómo funciona?</h2>
            </div>
        <p class="text">
        Busca una tiendas que vendan comida sana, cerca tuyo, eso incluye frutas, verduras, tostadurias y tiendas de productos organicos.
        </p>
        <h3>¿Conoces una tienda?</h3>
        <p class="text"> Nuestra aplicación funciona con el aporte de todos sus usuarios, por lo que pueden enviar una solicitud para agregarla al mapa sano de Santiago</p>
    </div>
    </div>

</div>
</section>


