
<div class="table-responsive">
<table class="table table-striped" id="shopsTable">
<thead>
    <tr>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Name</th>
      <th>Description</th>
      <th>Satate</th>
      <th>Address</th>
      <th>Tags</th>

      <th colspan="2"></th>
    </tr>
</thead>
<tbody>

 <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.longitude %></td>
        <td><%= shop.latitude %></td>
        <td><%= shop.name %></td>
        <td><%= shop.description %></td>
        <td><%= shop.state %></td>
        <td><%= shop.address %></td>
       
          <td>
        <% shop.tags.each do |tag| %>
          <a href="<%= remove_tag_shop_path(shop, tag)  %>"class="badge badge-info" data-method="delete"> <%= tag.name %> <span class="badge badge-light">x</span></a>
        <% end %>   
        <%= form_tag(add_tag_shop_path(shop.id)) do %>
            <%= text_field_tag 'name' , '',class:'form-control' %>
        <% end %>      
        </td>

        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
</table>
</div>