

<table class="table table-striped" id="UsersTable">
<thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apllido</th>
      <th>Email</th>
      <th>role</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
</thead>
<tbody>

 <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Editar', edit_user_registration_path(user) %></td>
        <td><%= link_to 'Borrar', user ,method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
</table>
