<!DOCTYPE html>
<html>
  <head>
    <title> Healthyshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" >
     <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" data-turbolinks-track="reload" ></script> 

  </head>
  <body>
  
    <%= render 'layouts/nav-backoffice' %>
    <div class="page-backoffice mt-4-rem">
    <div class="container-fluid">
    <%= yield %>
    
    </div>
    </div>
    
  <script>
$(document).on('turbolinks:load', function () {
    $('#shopsTable').DataTable();
    $('#UsersTable').DataTable();
} );
</script>

  </body>
</html>