<!DOCTYPE html>
<html>
  <head>
    <title> Healthyshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 
  </head>
  <body>
  
    <%= render 'layouts/nav-backoffice' %>
    <div class="page-backoffice mt-4-rem">
    <div class="container">
    <%= yield %>
    
    </div>
    </div>
    
  

  </body>
</html>